<p>Hi,</p>

<p>A parent from things for kids would like to get in touch!</p>

<p>Title: <%= @message.title %></p>
<p>Sender Name: <%= @message.sender_name %>.</p>
<p>Sender Email: <%= @message.sender_email %>.</p>

<p>Message: <%= @message.message %></p>
