<header class="ct-mediaSection header-mt" data-stellar-background-ratio="0.3" data-height="140" data-type="parallax" data-bg-image=<%= asset_url("single-list.jpg") %> data-bg-image-mobile=<%= asset_url("single-list.jpg") %>>
  <div class="ct-mediaSection-inner">
    <div class="container">
      <% if edit_action? || upgrade_action? %>
        <div class="ct-u-displayTable ct-steps--title text-center">
          <div class="ct-u-displayTableCell">
            <h2>Edit Listing</h2>
          </div>
        </div>
      <% else %>
        <div class="ct-steps--submission center-block ct-u-marginBottom20">
          <% unless  params[:type] == "free" %>
            <div class="ct-steps--item">
              <div class="ct-steps--counter ct-steps--active" id="step1-counter">
                <span>1</span>
              </div>
            </div>

            <div class="ct-steps--item">
              <div class="ct-steps--counter" id="step2-counter">
                <span>2</span>
              </div>
            </div>

            <div class="ct-steps--item">
              <div class="ct-steps--counter" id="step3-counter">
                <span>3</span>
              </div>
            </div>

            <div class="ct-steps--item">
              <div class="ct-steps--counter" id="step4-counter">
                <span>4</span>
              </div>
            </div>
          <% end %>
        </div>

        <div class="ct-u-displayTable ct-steps--title text-center">

          <% if params[:type] == "free" %>
            <div class="ct-u-displayTableCell">
              <h2>Listing Details</h2>
            </div>
          <% else %>
            <div class="ct-u-displayTableCell">
              <span>Title</span>
            </div>

            <div class="ct-u-displayTableCell" >
              <span>Price & Amentities</span>
            </div>

            <div class="ct-u-displayTableCell">
              <span>Images</span>
            </div>

            <div class="ct-u-displayTableCell">
              <span>Done!</span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</header>

<% content_for :js_init do %>
  MyListings.init();
  MyListings.image_preview();
<% end %>
