<%= render "form_header" %>
<section class="ct-u-paddingTop50 ct-u-paddingBottom100">
  <div class="container">
    <%= form_for @listing, url: wizard_path, method: :put, html: { role: "form", class: "ct-formSubmission", id: listing_form_id(params[:type]) } do |f| %>


      <%= hidden_field_tag :type, @listing.listing_type %>

      <div id="amenities-form">
        <div class="ct-headerText--normal text-uppercase ct-u-marginBottom40">
          <h2>Step 2 <span class="ct-text--highlightGray">Price & Amenities</span></h2>
        </div>

        <div class="row">
          <%= render 'my_listings/amenities_fields', f: f %>
        </div>
      </div>
    <% end %>
  </div>
</section>
