<div class="col-xs-12 col-sm-4 col-md-6 p-0">
  <div class="ct-itemProducts ct-u-marginBottom30 ct-hover product-width" id="lists">
    <%= link_to listing, class: 'list-container' do %>
      <div class="ct-main-content list-height">
        <div class="ct-imageBox">
          <%= render_logo listing.logo %>
          <i class="fa fa-eye"></i>
        </div>

        <div class="ct-main-text">
          <div class="ct-product--tilte">
            <%= listing.business_name %>
          </div>

          <div class="ct-product--description">
            <%= truncate_short_description listing %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
