<% listings.each_with_index do |listing, index| %>
  <% if index % 3 == 0 %>
    <div class="row"></div>
  <% end %>

  <%= render 'listing', listing: listing %>
<% end %>

<div class="row"></div>

<div class="text-center">
  <%= link_to 'Load More', '', class: 'btn btn-info load-more-listings' if @listings.next_page %>
</div>
