<%= listings_list(listings) %>
<span id="back-to-top">
  <i class="fa fa-angle-double-up"></i>
</span>
<% listings.each_with_index do |listing, index| %>
  <% if index % 2 == 0 %>
    <div class="row"></div>
  <% end %>

  <%= render 'listing', listing: listing %>
<% end %>

<div class="row"></div>

<div class="text-center">
  <%= link_to 'Load More', '', class: 'btn btn-info load-more-listings' if @listings.next_page %>
</div>
