<%= listings_list(@listings) %>

<div class="ml-10">
  <h1 class="ct-u-marginBottom40 ct-u-marginTop60">No results</h1>
  <span class="ct-u-marginBottom20">Try adjusting your search. Here are some ideas</span>
  <ul class="list-unstyled ml-10">
    <li>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x ct-js-color" data-color="49a9c7"></i>
        <i class="fa fa-fw fa-hand-o-right fa-stack-1x fa-inverse"></i>
      </span>
      Change your filters
    </li>

    <li>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x ct-js-color" data-color="42CEA1"></i>
        <i class="fa fa-fw fa-hand-o-right fa-stack-1x fa-inverse"></i>
      </span>
      Adjust map
    </li>
  </ul>
</div>
