<p>
  Hello! I'm the owner of a new website called things for kids. I've created this website to save time for parents who are looking for activities for their children, aged 0-10.
</p>

<p>
  I've created a free listing for you. You can view it <%= link_to 'here', listing_url(@listing) %>.
</p>

<p>
  We also offer Premium listings, which help boost the SEO of your own website, as well as giving parents a full view of your business and make your listing stand out from your competitors.
</p>

<p>
  At only $59 per year it's an easy and low cost way to boost your online presence.
</p>

<p>
  As a new member we would like to offer you a discount for the first year. Use FIRSTYEAR discount code at checkout to receive $10 off.
</p>

<p>
  After accepting the invite, you can update your free listing <%= link_to 'here', edit_my_listing_url(@listing) %>.
</p>

<p>
  <%= link_to "Accept Invite", accept_user_invitation_url(invitation_token: @token), class: "btn btn-primary" %>
</p>

<p>
  If you don't want to accept the invitation, please ignore this email.<br/>
  Your account won't be created until you access the link above and set your password.
</p>
<br/>

<p>We're here to help, so feel free to email us if you need help or have any questions.</p>

<p>Kind regards,</p>

<p>Kerrianne</p>
<p>CEO, things for kids</p>
