<p>Hello,</p>

<p>Welcome to things for kids.</p>
<p>You can view your dashboard <%= link_to 'here', my_listings_url %></p>

<p>Feel free to email us if you have any queries</p>

<p>Kind regards,</p>
<p>Kerrianne</p>
<p>CEO, things for kids</p>
