<div class="col-xs-12 col-sm-4 col-md-6">
  <div class="ct-itemProducts ct-u-marginBottom30 ct-hover" id="lists">
    <a href="product-single.html">
      <div class="ct-main-content list-height">
        <div class="ct-imageBox">
          <%= image_tag "content/property-6.jpg", alt: "" %><i class="fa fa-eye"></i>
        </div>

        <div class="ct-main-text">
          <div class="ct-product--tilte">
            <%= listing.business_name %>
          </div>

          <div class="ct-product--price">
            <span><%= listing.price %></span>
          </div>

          <div class="ct-product--description">
            <%= listing.description %>
          </div>
        </div>
      </div>
      <div class="ct-product--meta">
        <div class="ct-icons">
          <span>
            <i class="fa fa-bed"></i> 3
          </span>

          <span>
            <i class="fa fa-cutlery"></i> 2
          </span>
        </div>

        <div class="ct-text">
          <span> Area: <span>105 m2</span></span>
        </div>
      </div>
    </a>
  </div>
</div>
