<section class="ct-u-paddingBoth60 text-center">
  <div class="container">
    <div class="ct-heading ct-u-marginBottom60">
      <h3 class="text-uppercase">About Us</h3>
    </div>

    <div class="row">
      <%= image_tag "us.jpg", class: "img-responsive" %>
      <div style="margin-top: 20px;">
        <p>
          I'm a mother of 2 boys with a background in design, client management and events. One evening, after spending three hours trawling the internet trying to find a dance class in my area to suit my eldest son, I realised that I wasn't going to find what I was looking for. I thought, "why did I just spend so much time doing this with no result?! I wish everything was in one place." Then came the idea of things for kids.
        </p>

        <p>
          Our goal is for things for kids to be Australia wide, covering city and regional areas, providing all the information that parents need to keep their children happy, learning, and occupied, from birth to 10 years old. We aim to do this with a website that caters to all levels of web-savvyness, and that is affordable for small businesses to use as well.
        </p>
      </div>
    </div>
  </div>
</section>
