<p>Welcome to things for kids!</p>

<p>You have created a free listing. If you would like to update to a premium listing go to your <%= link_to 'My Listings Dashboard', my_listings_url %></p>

<p>Premium listings give parents a full view of your business, help improve your SEO, load first in the our search results - and it's affordable at only $59 per year.</p>

<p>We're here to help, so feel free to email us if you need anything!</p>

<p>Kind regards,</p>
<p>Kerrianne</p>
<p>CEO, things for kids</p>
