<p>Thank you for updating to a Premium listing. This is a yearly subscription.</p>

<p>You can edit or update your listing at anytime from your dashboard <%= link_to 'here', my_listings_url %>.</p>

<p>Please feel free to contact us if you have any queries.</p>

<p>Kind regards,</p>
<p>Kerrianne</p>
<p>CEO, things for kids</p>
