<div id="price-from" class="hide-form">
  <div class="ct-headerText--normal text-uppercase ct-u-marginBottom40">
    <h2>Step 4 <span class="ct-text--highlightGray">Finalize</span>
    </h2>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group ">
        <h4 class="text-uppercase ct-fw-600 ct-u-marginBottom20">Almost Done</h4>
        <span class="span ct-u-marginBottom20">We are almost done. If you want to change anything before publishing this will be the best moment to do it. You can also preview how will your property look in our service:</span>

        <div class="col-md-6">
          <%= render 'shared/payment_fields' %>
        </div>

        <div class="ct-container--Big pull-right">
          <%= link_to "Back to Step 3", "", class: "btn btn-link pull-left", id: "backto-step3" %>
          <%= f.submit "Submit My Property", class: "btn btn-success pull-right" %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>