<p>Hi,</p>

<p>Unfortunately, we've been unable to process your payment for Things for kids using your card.</p>
<p>We are downgrading your listing to Free listing. You can upgrade to premium by following this link</p>

<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="left">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td><%= link_to "View listing", listing_url(@listing), target: :blank, class: "btn btn-primary" %></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
