<p>Hi,</p>

<p>Unfortunately, we've been unable to process your payment for Things for kids using your card. Can you please take a moment to update your payment information on our site?</p>
<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="left">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td><%= link_to "Visit website", root_url, target: :blank, class: "btn btn-primary" %></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<p>If you don't change this we will downgrade you to Free listing.</p>
<p>Thanks so much for your immediate attention to this issue! Let us know if you have any questions or need</p>
