#filters
  .list-height
    height: 350px

  .mt
    margin-top: 40px

  .filter-heading
    font-size: 19px

  .ml-0
    margin-left: 0px

  .parks-icon-color
    color: green

  .classes-icon-color
    color: #F83106

  .playcenter-icon-color
    color: #CB2501

  .poi-icon-color
    color: purple

  .childcare-icon-color
    color: #196F3D

  .kidscafes-icon-color
    color: #17202A


.map-style
  height: 800px

.disabled-content
  opacity: 0.2
  pointer-events: none

.hide-form
  display: none

#postcode-form
  .postcode-modal
    position: fixed
    z-index: 2000
    left: 25%
    top: 30%
    right: 10%

  .form-height
    height: 220px


#navbar
  img
    width: 180px

  .ct-panelBox
    border-left: none
    margin-left: 200px
    margin-top: 30px

.mt-40
  margin-top: 40px


#listings
  .list-height
    min-height: 400px
    max-height: 400px

  #scrollable-content
    height: 40px
    overflow: auto

  .image-style
    height: 200px

#single-listing
  .map-style
    height: 260px

.ct-formSubmission
  textarea
    color: rgba(51, 51, 51, 0.4)

  .short-description
    height: 70px !important

.ct-personContact
  #send-message-btn
    background: #eb8a21

.d-none
  display: none

#contact-us
  .map-style
    height: 800px

@media screen and (max-width: 992px)
  .mt-40
    margin-top: 58px

.invalid-feedback
  color: red

@media screen and (max-width: 768px)
  .ct-mediaSection-inner
    margin-top: 57px

  .header-mt
    margin-top: 13%

  #my-listings
    .page-title
      margin-top: 30px

#listing-header
  .listing-address
    line-height: normal

.parks-icon-color
  background-color: green
  opacity: 0.6

.classes-icon-color
  background-color: #F83106
  opacity: 0.6

.playcenter-icon-color
  background-color: #CB2501
  opacity: 0.6

.poi-icon-color
  background-color: purple
  opacity: 0.6

.childcare-icon-color
  background-color: #196F3D
  opacity: 0.6

.kidscafes-icon-color
  background-color: #17202A
  opacity: 0.6
