#filters
  .list-height
    height: 350px

  .mt
    margin-top: 40px

.map-style
  height: 800px

.disabled-content
  opacity: 0.2
  pointer-events: none

.hide-form
  display: none

#postcode-form
  .postcode-modal
    position: fixed
    z-index: 2000
    left: 30%
    top: 30%

  .form-height
    height: 190px


#navbar
  img
    width: 180px

  .ct-panelBox
    border-left: none
    margin-left: 200px
    margin-top: 30px

.mt-40
  margin-top: 40px


#listings
  .list-height
    min-height: 400px
    max-height: 400px

  #scrollable-content
    height: 40px
    overflow: auto

  .image-style
    height: 200px

#single-listing
  .map-style
    min-height: 260px

.ct-formSubmission
  textarea
    color: rgba(51, 51, 51, 0.4)

  .short-description
    height: 70px !important

.ct-personContact
  #send-message-btn
    background: #eb8a21

.d-none
  display: none


@media screen and (max-width: 992px)
  .mt-40
    margin-top: 58px
